
 .ekart-menu{

  color: #36454F;
  font-family: 'Montserrat', sans-serif;
  font-weight:normal;
  font-size: 14px;
  width:auto;
  align-items: center;
  text-align: center;
  display: flex; /* Add display flex */
  justify-content: center; /* Center align items horizontally */
}
.ekart-menu a {
  display: inline-block; /* Display the links as inline-block */
}