<div class="ekart--top--bar">
    <nav>
<a href="#">Help</a>
 <a  routerLink="/template">Template</a>
 <a  routerLink="/container">Order Tracker</a>
 <a  routerLink="/login" >Log In</a>

 <!-- <a  routerLink="/container" >Home</a> -->
        <!-- <a href="#">Login</a> -->
  
   <!-- <button (click)="login()">Sign In</button> -->
</nav> 

</div>
<!-- <div class="nav-container">
    <ul>
       
    </ul>
    <div class="component-container">
        <app-login></app-login>
       
    </div>
    </div> -->